body {
    font-family: 'Inconsolata', monospace;
    background-image: linear-gradient(to top, #00ccff, rgb(98, 0, 255));
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header, main, footer {
    width: 100%;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.titlebar {
    background-color: rgba(36, 33, 71, 0.411);
    text-align: center;
    padding: 15px 0;
}

.contentMain {
    display: flex;
    justify-content: space-between;
    padding: 0 0px;
}

.Navbarcontainer{
    display: flex;
    align-items: center;
    justify-content:center;
    width: 100%;
    height:50px;
    
}
.Navbar{
   
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    height: 60px;
    width:94%;
    
    margin-top:10px;
    margin-right: 3%;
    margin-left: 3%;
    background: rgba( 69, 147, 244, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );   
}


ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction:row;
    margin:15px;
   
    
}
.Navbar ul li a {
    text-decoration: none; /* This removes underlines */
   
}
li {
    list-style-type: none;
    text-align: center;
    align-items: center;
    margin: 0;
    width: 125px;
    height:40px;
    margin: 40px;
    padding-top: 10px;
    background-color: #2c3e50;
    color: silver;
    border-radius: 25px;
    border-style: double;
    font-size:25px
  }
  li:hover {
    background-color: #34495e; /* Changing background color on hover */
    color:gold;
}
/* Style the navigation links */
li a {
    text-decoration: none; /* Remove underline */
    color: #fff; /* Text color */
    
    border-radius: 25px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

/* Hover effect */
li a:hover {
    background-color: #34495e; /* Change background color on hover */
   
}

.titlebar{
    position:relative;
    background: linear-gradient(to right, rgba(28, 24, 68, 0.808), rgba(60, 56, 112, 0.411), rgba(28, 24, 68, 0.808));
    text-align: center;
    margin-left: 3%;
    margin-right: 3%;
    margin-top:15px;
    color: white;
}


.another{
    position:relative;
    display:flex;
    flex-direction: column;
    Height: 100%;
    Width: 100%;
}

.contentMain{ 
    position:absolutes;
    Height: 100%;
    Width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction:row;
    
}

.gear, .gear2, .gear3{
    position:absolute;
    margin-top:500px;
    margin-left:50px;
    height: 150px;
    z-index: 15;
}
.gear2{
    margin-top:750px;
    margin-left:30px;
  
}
.gear3{
    margin-top:650px;
    margin-left:150px;
}
.gear img, .gear2 img, .gear3 img{
    width: 150px;
    height: 150px;
    transition: transform .5s ease;
}

.content{
    text-align: center;
    position: relative;
    margin-left: 3%;
    border-bottom-left-radius: 20px;
    height: 650px;
    width: 50%;
    background: linear-gradient(to left, rgba(36, 33, 71, 0.411), rgba(36, 33, 71, 0.8));
    float: left;
    transition: transform 0.5s ease;
    z-index: -5;
}

.content2{
    text-align: center;
    position: relative;
    margin-right: 3%;
    border-bottom-right-radius: 20px;
    height: 650px;
    width: 50%;
    background: linear-gradient(to right, rgba(36, 33, 71, 0.411), rgba(36, 33, 71, 0.8));
    transition: transform 0.5s ease;
    z-index: -10;
}

.profiledetails{
    position: absolute;
    margin-top:10px;
    margin-left:12.5%;
    height: 525px;
    width: 75%;
    background-color: rgba(248, 248, 248, 0.411);
   
    transition: transform 0.5s ease;
    z-index: -50;
    display:none;  
}
.profile-info h1 {
    font-size:55px; /* Adjust the font size as needed */
    color: rgb(4, 9, 80); /* Adjust the color as needed */
    margin-bottom:-50px;
    font-family: "Patrick Hand", cursive;
    font-weight: 10;
   
}

.profile-info h3 {
    font-size: 30px;
    color: black;
}
.profile-info p {
    font-size: 16px; /* Adjust the font size as needed */
    color: gray; /* Adjust the color as needed */
}

.profile-info {
    display: inline-block; /* Ensures the profile image and info are inline */
    vertical-align: top; /* Aligns the profile info to the top of the image */
    margin-left: 200px; /* Adjust the margin as needed */
    
    
}

.slime {
    margin-left: 50px;
    margin-top: 10px;
    position: absolute;
    width: 200px; /* Adjust the size of the hexagon */
    height: 200px; /* Adjust the height proportionally to maintain the shape */
    overflow: hidden;
    
}

.slime img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: 100%;
    
    clip-path: polygon(50% 0%, 100% 25%, 100% 100%, 50% 100%, 0% 75%, 0% 25%);
}
.shadow{
    position:absolute;
    background-color: white;
    height: 200px;
    margin-top: 10px;
    margin-left: 150px;
    padding-right: 20px;
    clip-path: polygon(88% 0, 100% 25%, 100% 75%, 88% 100%, 0 100%, 0 0);
    z-index: -5;
}
.paragraph{
    position: relative;
    padding-left: 60px;
    padding-right: 30px;
    padding-top: 10px;
    margin-top: 220px;
    margin-left: 250px;
    margin-right:250px;
    height: 280px;
    background-color: aliceblue;
    border-radius: 25px;
    font-size: 24px;

}
/* .rimuru{
    margin-top: 350px;
    position: relative;
    Margin-right: 500px;
    right:0;
    height:200px;
    width:200px;
    z-index: 10;
    transition: transform 0.5s ease;
} */
.educdiv{
    position: absolute;
    margin-top:10px;
    margin-left:12.5%;
    height: 525px;
    width: 75%;
    background-color: rgba(248, 248, 248, 0.411);
    transition: transform 0.5s ease;
    display:none; 
  
}






.educparagraph{
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom:10px;
    margin-top: 20px;
    margin-left: 75px;
    margin-right:250px;
    height: 450px;
    width: 80%;
    border-radius: 25px;
}
.logo, .logo2 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.logo{
    position: absolute;
    top: 25%; /* Align the button vertically with the logo */
    margin-top: -75px; /* Half of the button's height to center it */
    left: 0px; /* Adjust the horizontal position as needed */
    height: 150px;
}
.logo2 {
    position: absolute;
    top: 75%; /* Align the button vertically with the logo */
    margin-top: -80px; /* Half of the button's height to center it */
    left: 0px; /* Adjust the horizontal position as needed */
    height: 150px;
}


.logo img, .logo2 img {
    width: 150px;
    height: 150px;
    margin-right: 20px;
}
.educdiv .text h1 {
    font-size: 40px; /* Adjust size as needed */
}

.educdiv .text h2 {
    font-size: 30px; /* Adjust size as needed */
}

.educdiv .text h3 {
    font-size: 25px; /* Adjust size as needed */
}
.educdiv .text2 {
    display: none;
}



.logo button {
    position: absolute;
    top: 25%; /* Align the button vertically with the logo */
    margin-top: -75px; /* Half of the button's height to center it */
    left: 900px; /* Adjust the horizontal position as needed */
    height: 150px;
}

.logo2 button {
    position: absolute;
    top: 75%; /* Align the button vertically with the logo */
    margin-top: -80px; /* Half of the button's height to center it */
    left: 900px; /* Adjust the horizontal position as needed */
    height: 150px;
}

.experiencediv{
    position: absolute;
    margin-top: 10px;
    margin-left: 12.5%;
    height: 525px;
    width: 75%;
    background-color: rgba(248, 248, 248, 0.411);
    transition: transform 0.5s ease; /* Apply transition for smooth animation */
    z-index: -15;
    display: none;
    transform-style: preserve-3d; /* Ensure proper 3D rendering */  

}

.exparagraph{
    position: relative;
    padding-left: 60px;
    padding-right: 30px;
    padding-top: 10px;
    margin-top: 30px;
    margin-left: 75px;
    margin-right: 250px;
    height: 450px;
    width: 80%;
    border-radius: 25px;
    backface-visibility: hidden; /* Hide the backface during the flip animation */
    display: flex;
    flex-direction: row;
}

.experiencediv.flip {
    transform: rotateY(180deg); /* Apply rotation for flip effect */
}
.expLeft{

background-color: #790a7d;
}
.expRight{
    background-color: #790a7d;
}




.projectsdiv{
    position: absolute;
    margin-top:10px;
    margin-left:12.5%;
    height: 525px;
    width: 75%;
    background-color: rgba(248, 248, 248, 0.411);
    transition: transform 0.5s ease;
    z-index: -15;
    display:none;  
}
.proparagraph{
    position: relative;
    padding-left: 60px;
    padding-right: 30px;
    padding-top: 10px;
    margin-top: 30px;
    margin-left: 250px;
    margin-right:250px;
    height: 450px;
    background-color: aliceblue;
    border-radius: 25px;
}

.contactsdiv{
    position: absolute;
    margin-top:10px;
    margin-left:12.5%;
    height: 525px;
    width: 75%;
    background-color: rgba(248, 248, 248, 0.411);
    transition: transform 0.5s ease;
    z-index: -15;
    display:none;  
}
.conparagraph{
    position: relative;
    padding-left: 60px;
    padding-right: 30px;
    padding-top: 10px;
    margin-top: 30px;
    margin-left: 250px;
    margin-right:250px;
    height: 450px;
    background-color: aliceblue;
    border-radius: 25px;
}



@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(270deg);
    }
}
.spin {
    animation: spin 1s linear infinite;
}

  
